<div class="main_content">
  <div class="hero-unit">
    <h2><small>Check Me Out</small> <%= @user.profile.full_name %></h2>
    <p>See where I've been and where I went</p>
    <p>
      <a id="profile_place_button" class="btn btn-success btn-large">Places &raquo;</a> &nbsp;
      <a id="profile_checkin_button" class="btn btn-warning btn-large">Checkins &raquo;</a> &nbsp;
      <a id="profile_gallery_button" class="btn btn-info btn-large">Gallery &raquo;</a> &nbsp;
    </p>
  </div>

  <div id="current_user_profile" style="display:none;"><%=@user.id%></div>
  <div id="profile_places">
    <%= render :partial => "google_map"%>
  </div>
  <div id="profiles_checkins" style="display:none;">
    <%= render :partial => "checkins"%>
  </div>
</div>
