<div id="stats_header" class="list-widget">
  <a><%= image_tag "graphs.png", size: "42x42", class: "avatar left" %>
  <div class="list-head">
    <h3><a class="no-dec">Graphs</a></h3>
      <div class="no-dec list-meta">
        Your data visualized
      </div>
  </div>
  <ul>
      <li class="right_tab">
        &rsaquo; <%=link_to "total checkins", line_statistics_path, class: "purple" %><br/>
      </li>
      <li class="right_tab">
        &rsaquo; <%=link_to "top places", bar_statistics_path, class: "purple" %><br/>
      </li>
      <li><%= link_to "View All Checkins ›", map_statistics_path, class: "list-view" %></li>
  </ul>
</div>
