<div id="<%=div_id%>_loader_circle" style="display:none;">
  <br/>
  <center>
    <%= image_tag "ajax-loader.gif" %>
    <br/>
    <br/>
    <p> Retrieving Your Facebook Places and Checkins...</p>
  </center>
</div>
