<% flash.each do |key, message|
  puts key.inspect + message.inspect
  if message == I18n.t("devise.failure.invalid")
    html_key = 'error'
  elsif key == :notice 
    html_key = 'success'
  else
    html_key = key
  end
%>
<div class="alert-message <%=html_key%>" data-alert="alert">
  <a class="close" href="#">×</a>
  <p><%=message%></p>
</div>
<% end %>

