<%= image_tag "school_of_engineering_banner.jpg", :size => "560x150"%>
<h3>Welcome!</h3>
<h3>Getting Started</h3>
<p>
  <b>Register by signing in: </b>Click the <i>Register</i> button above to get started
  <br/>
  <b>Register using Facebook: </b>Click the <i>Facebook</i> image above to sign in using Facebook
  <br/>
</p>
<br/>
