<div id="mini_feed">
  <% @all_checkins.each_with_index do |checkin, index| %>
    <a>
      <%= checkin.message %>
      <b>With:</b>
      <% checkin.users.each do |user| %>
        <%= link_to user.name, user_path(user), :class => "user_checkin_list" %>
      <% end %>
      <b>At</b> <small style="font-size: 10px;"><%= checkin.place.name %></small>
      <b>On</b> <small style="font-size: 10px;"><%= checkin.created_at.strftime("on %A %B %d, %Y at %I:%M %p")%></small>
      <hr/>
    </a>
  <% end %>
</div>
