<% @checkins.limit(5).each_with_index do |checkin, index| %>
  <p>
    <%= checkin.message %>
    <b>With:</b>
    <% checkin.users.each do |user| %>
      <%= link_to user.profile.full_name, wall_path(user.wall.wall_name), :class => "user_checkin_list"%>
    <% end %>
    <b>At</b> <%= checkin.place.name %>
    <% if index == 4 %>
      <button id="close_news_feed_button" class="btn danger pull-right">Close</button>
    <% end %>
    <hr/>
  </p>
<% end %>
