<% if current_user %>
  <% @places_for_user.each do |place| %>
    <button class="btn info bottom_space"><%= place.address %></button>
  <% end %>
<% else %>
  <% @places.each do |place| %>
    <p><%= place.address %></p>
  <% end %>
<% end %>
