<div class="main_content">
  <div class="hero-unit">
    <h2><small>getting started</small> Update your checkins </h2>
    <p>In order to get the latest data, you must sync your Facebook Checkin </p>
    <p>
      <%= link_to "Sync »", sync_user_checkins_path(@user.id), class: "btn btn-success btn-large" %> &nbsp;
    </p>
  </div>
</div>
