<%= image_tag "san_diego_banner.jpg", :size => "820x120"%>
<h3>About CheckMeOut360 <small> For the common Joe </small></h3>
<p>
  The idea started out with trying to keep track and log where you been to and who were you there with.
  Its always hard to keep track of where you go, where you ate and where you adventured to.  After couple years
  arent you curious of how many restaurants you been to? Or how many times you visited the Zoo or Seaworld?  These
  are all common questions we have.
  This problem soon transformed quickly into a web application that would help you accomplish that seamlessly and
  painfully without having to hand fill out every place you been to.  This will crawl your Facebook account
  for "check-ins" and will auto-plot this on Google Map along with useful information like 
  the store name, who were you with, etc...
</p>

<%= image_tag "san_diego_downtown_night.jpg", :size => "820x180"%>
<h3>CheckMeOut360 <small> For the Tech Wizards </small></h3>
<p>
  <b>The Web Server Side:</b> Ruby on Rails -- Ruby 1.9.2, Rails 3.1
  <br/>
  <b>Database:</b> PostgreSQL
  <br/>
  <b>Client:</b> Twitter Bootstrap, JQuery, CSS
  <br/>
  <b>Security and Authentication:</b> Devise and Omniauth
  <br/>
  <b>Mapping:</b> Google Map API, GeoCoder Gem
  <br/>
  <b>Cloud Host Server:</b> Heroku running Cedar Stack using Unicorn Rails Server
</p>

<%= image_tag "la_jolla_banner.jpg", :size => "820x180"%>
<h3>About Me <small> Quy Phan</small></h3>
<p>
  Hey guys, 
  <br/>
  This is Quy Phan, currently working and living in San Diego.  The website is built from ground up by me and my brother Phu.
  I was mostly in charge of the mainframe of the website, i.e. bringing up the server, authentication, authorization, Facebook plugin.
  I am a Software Engineer at Qualcomm.  My area of specialty is web development both server side using Ruby on Rails
  and client side (HTML, Javascript, JQuery, CSS, etc...).  I graduated form UC San Diego with a BS Degree in Computer Science.
  My previous job was at Northrop Grumman where I was a Software Engineer intern.  My primary job there was testing, analysis,
  development and integration of Software systems.
</p>

<h3>About Me <small> Phu Phan</small></h3>
<p>
  This is Phu Phan, also staying in sunny San Diego. My duty in the website is integrating Facebook Checkins and Places with our
  model representation of Places and Checkins, getting the Google Maps tied in and also bringing in all the relationships amongst them.
  I am currently working at Northrop Grumman and at my job I work specifically on server and client side web components.  I have experience with
  client side technoligies like HTML, Javascript, JQuery, CSS, etc...  My server side experience includes JBoss, Java Enterprise (Hibernate, Spring, etc...),
  Ruby, Ruby on Rails, PostgreSQL, Mysql and etc... I attended UC San Diego Jacob School of Engineering and majored in Computer Science.
</p>