<%= image_tag "san_diego_downtown_night.jpg", :size => "560x180"%>
<h3>Contact Me</h3>
<p>
  <b>Email:</b> quyminhphan@gmail.com
  <br/>
  <b>Facebook:</b> <%= link_to "Facebook", "http://www.facebook.com/quyminhphan" %>
  <br/>
  <b>LinkedIn:</b> <%= link_to "LinkedIn", "http://www.linkedin.com/pub/quy-phan/26/261/272" %>
  <br/>
</p>
