<div id="about_myself">
  <p class='description-text'>
  Hey my name is Jake Pham and I am in charge of the business marketing aspect of CheckMeOut360!  I am currently working and living in San Diego. I work in Powy California (close enough to San Diego) to be called a San Diegan!  I am currently working at Northrop Grumman Aerospace Systems as an intern.  I hope to gain great experience from this side project and would to contribute to the source code and add more functionality and features to the site. My goal is to make this site a successful side project and hopefully make it big one day with this idea.  At the very least,  I want to gain experience and knowledge about the startup tech industry.  I believe it is a big industry and has plenty of room to grow. That is the day we will celebrate our greatest achievements!
  <br/>
  Check us out!
  </p>
</div>