<div id="about_myself">
  <p class='description-text'>
    My name is Michael Luong, and I currently reside in San Diego.  I am a Software Engineer intern at SAIC. My primary job is to help 
    with database analysis, assist with algorithm development, and undergo module testing. As for YoloSpots, my role on the team is to
    design core funcionality schemas, implement the client side (HTML, CSS, Javascript, etc) and server side (Ruby on Rails), as well 
    as designing a business model. As for my goals in the future, I would love to get more into web development and make that a core 
    speciality of mines.
  </p>
</div>