<%= image_tag "la_jolla_banner.jpg" %>
<h3>About Me <small> Quy Phan</small></h3>
<p>
  Hey guys, 
  <br/>
  This is Quy Phan, currently working and living in San Diego.  The website is built from ground up by me and my brother Phu.
  I was mostly in charge of the mainframe of the website, i.e. bringing up the server, authentication, authorization, Facebook plugin.
  I am a Software Engineer at Qualcomm.  My area of specialty is web development both server side using Ruby on Rails
  and client side (HTML, Javascript, JQuery, CSS, etc...).  I graduated form UC San Diego with a BS Degree in Computer Science.
  My previous job was at Northrop Grumman where I was a Software Engineer intern.  My primary job there was testing, analysis,
  development and integration of Software systems.
</p>

<h3>About Me <small> Phu Phan</small></h3>
<p>
  This is Phu Phan, also staying in sunny San Diego. My duty in the website is integrating Facebook Checkins and Places with our
  model representation of Places and Checkins, getting the Google Maps tied in and also bringing in all the relationships amongst them.
  I am currently working at Northrop Grumman and at my job I work specifically on server and client side web components.  I have experience with
  client side technoligies like HTML, Javascript, JQuery, CSS, etc...  My server side experience includes JBoss, Java Enterprise (Hibernate, Spring, etc...),
  Ruby, Ruby on Rails, PostgreSQL, Mysql and etc... I attended UC San Diego Jacob School of Engineering and majored in Computer Science.
</p>
