<div id="product_overview">
  <%= image_tag "san_diego_banner.jpg", class: "display_images" %>
  <h3>About CheckMeOut360 <small> For the common Joe </small></h3>
  <p>
    The idea started out with trying to keep track and log where you been to and who were you there with.
    Its always hard to keep track of where you go, where you ate and where you adventured to.  After couple years
    arent you curious of how many restaurants you been to? Or how many times you visited the Zoo or Seaworld?  These
    are all common questions we have.
    This problem soon transformed quickly into a web application that would help you accomplish that seamlessly and
    painfully without having to hand fill out every place you been to.  This will crawl your Facebook account
    for "check-ins" and will auto-plot this on Google Map along with useful information like 
    the store name, who were you with, etc...
  </p>
</div>