<div id="about_myself">
  <p class='description-text'>
  Hey my name is Phu Phan, currently working and living in San Diego. I work at Sony Computer Entertainment America.
  Loving life and enjoying everything it has to offer.  My goal for the next few months is to get CheckMeOut360 to its greatest point and adding more features to it.  What we want to do in version 2.0 of this site is to add a Yolo Spots feature page that allows the user to log into the system and see what spots are "hot" in their area for a given day.  Check us out in 360 days!
  </p>
</div>
