<div id="about_myself">
  <p class='description-text'>
    This is Phu Phan, currently working and living in San Diego. I work at Sony Computer Entertainment America.  Loving life and single for the moment :)
  </p>
</div>