<div id="about_myself">
  <p class='description-text'>
  This is Quy Phan, currently working and living in San Diego.  The website is built from ground up by me and my brother Phu.
  I was mostly in charge of the mainframe of the website, i.e. bringing up the server, authentication, authorization, Facebook plugin.
  I am a Software Engineer at Qualcomm.  My area of specialty is web development both server side using Ruby on Rails
  and client side (HTML, Javascript, JQuery, CSS, etc...).  I graduated form UC San Diego with a BS Degree in Computer Science.
  My previous job was at Northrop Grumman where I was a Software Engineer intern.  My primary job there was testing, analysis,
  development and integration of Software systems.
  </p>
</div>
