<div id="about_myself">
  <p class='description-text'>
  Hey my name is Tan Cao and I am in charge of the business marketing aspect of CheckMeOut360!  I am currently working and living in San Diego. I work in downtown San Diego at the San Diego Housing Commission. My goal is to make this site a successful side project and hopefully make it big one day with this idea.  At the very least,  I want to gain experience and knowledge about the startup tech industry.  I believe it is a big industry and has plenty of room to grow.  I will be in charge of finding customers and attracting users.  One day, I would like to put together spreadsheets and data to present to future ventures.  That is the day we will celebrate our greatest achievements!
  <br/>
  Check us out!
  </p>
</div>
