<%= image_tag "jacob_school_of_engineering.jpg", class: "display_images" %>
<h3>CheckMeOut360 <small> For the Tech Wizards </small></h3>
<p>
  <b>The Web Server Side:</b> Ruby on Rails -- Ruby 1.9.2, Rails 3.1
  <br/>
  <b>Database:</b> PostgreSQL
  <br/>
  <b>Client:</b> Twitter Bootstrap, JQuery, CSS
  <br/>
  <b>Security and Authentication:</b> Devise and Omniauth
  <br/>
  <b>Mapping:</b> Google Map API, GeoCoder Gem
  <br/>
  <b>Cloud Host Server:</b> Heroku running Cedar Stack using Unicorn Rails Server
</p>
