<div class="span8">
  <%= image_tag "school_of_engineering_banner.jpg" %>
  <h3>Welcome!</h3>
  <h3>Getting Started</h3>
  <p>
    <br/>
    <b>Register using Facebook: </b>Click the <i>"login with facebook"</i> image above to sign in using Facebook
    <br/>
  </p>
  <br/>
</div>