/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree . 
*/

#map_canvas {
  height: 650px !important;
}

.zero_red {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif !important;
  font-weight: 400px !important;
  color: #af1616;
}
.red {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif !important;
  font-weight: 400px !important;
  color: #af1616 !important;
/*  background-color: #DA4F49;*/
}
.blue {
  background-color: #49AFCD;
}
.no_margin {
  margin: 0 !important;
}
.bottom-space {
  padding-bottom: 5px;
}

.home_images {
  height: 200px;
  width: 100%;
}
