/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
 *= require_tree . 
*/

#current_user_in_list {
  color: green !important;
}
img {
  max-width: 100% !important;
}

#map_canvas {
  height: 650px !important;
}

.mini-hero-unit {
  padding: 30px;
  margin-bottom: 15px;
  background-color: #FAA732;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 120px;
}

.semi-hero-unit {
  padding: 30px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 120px;
}
.sub-hero-unit {
  padding: 30px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 120px;
}
.red {
  background-color: #DA4F49;
}
.blue {
  background-color: #49AFCD;
}
.no_margin {
  margin: 0 !important;
}
.bottom-space {
  padding-bottom: 5px;
}