.list-widget li {
    height: 20px;
    overflow: hidden;
}
.list-tabs {
  text-align: center;
  padding: 15px 0 0px;
  margin-bottom: 50px;
  color: #ccc;

}
.list-tabs a {
  font-size: 16px;
  color: #777;
  font-weight: normal;
  margin: 0 40px;
  padding: 5px 0;
  color: #DD390D; 

}
.list-tabs a:hover {
  color: #333; 
}
.list-tabs a.active {
  color: #333; 
}

.list-follow {
  box-shadow: none;
  padding: 0.3em 0.6em;
  font-size: 13px; 
}
.list-follow.following {
  background: #fefefe;
  color: #999;
  border: 1px solid #ddd; 
}
.list-follow.following span {
  color: #87c636; 
}

.list-widget {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  width: 41%;
  height: 190px;
  float: left;
  margin: 3% 0 0 5%;
}
.list-widget .list-head {
  margin-left: 60px; 
}
.list-widget .list-head .list-follow {
  position: absolute;
  top: 20px;
  right: 15px;
  margin: 0; 
}
.list-widget .avatar {
  margin-top: 2px;
  border-radius: 40px; 
}
.list-widget .left {
  float: left;
}
.list-widget h3 {
  font-weight: normal;
  color: #dd390d;
  font-size: 20px;
  line-height: 1.3;
  margin: 0; 
}
.list-widget h3 a {
  font-weight: normal;
  color: #DD390D; 
}
.list-widget h3 small {
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555; 
}
.list-widget .list-meta {
  color: #777;
  margin-top: 0px;
  font-size: 13px; 
}
.list-widget .list-meta a {
  font-weight: normal;
  color: #111; 
}
.list-widget ul {
  list-style: none;
  margin: 15px -15px 0;
  padding: 0px 10px;
  position: relative; 
}
.list-widget ul:before {
  -webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  height: 5px;
  width: 100%;
  position: relative;
  content: '';
  top: -2px;
  left: 0;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15); 
}
.list-widget ul li {
  margin: 10px 10px;
  font-size: 14px;
  height: 20px;
  overflow: hidden; 
}
.list-widget ul li a {
  color: #111;
  font-weight: normal; 
}
.list-widget ul li .fav {
  float: left;
  vertical-align: text-top;
  background-position: 0 4px;
  height: 20px; 
}
.list-widget ul li > div {
  margin-left: 30px; 
}
.list-widget ul li span {
  display: block;
  color: #777;
  font-size: 13px; 
}
.list-widget ul li .list-view {
  margin: 10px 0 0 30px;
  padding-top: 10px;
  color: #dd390d; 
}