#map_canvas {
  height: 375px !important;
}
.place {
  label {
    text-align: left;
    padding-bottom: 10px;
    float: left;
  }
  #place_name {
    width: 79%;
  }
  #place_address {
    width: 79%;
  }
}