/* Main application HTML styling */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url("fabric_plaid_@2X.png") repeat !important;
}
#main_globe_icon {
  margin-top: -5px;
}

.inline-label {
  display: inline;
  font-weight: bold;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.img_thumb {
  height: 45px;
  width: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.display_images {
  width: 100%;
}

.list_pad {
  margin: 10px 0 0 40px;
  padding-top: 10px;
}
.extra {
  margin: 10px 0 0 62px;
}

#privacy_hero_unit {
  padding: 10px 10px 0px 10px;
  background-color: white;
}
.no_dec {
  text-decoration: none !important;
}
.grey {
  color: #5A5A5A !important;
}
.purple {
  color: #2b3884 !important;
}