/* Main application HTML styling */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url("fabric_plaid_@2X.png") repeat !important;
}
#main_page {
/*  background: url("fabric_plaid_@2X.png");*/
}
.sidebar-nav {
  padding: 9px 0;
}
#main_globe_icon {
  margin-top: -5px;
}
/* Page header tweaks */
/* line 28, /Users/c_qphan/workspace/tmp/CheckMeOut360/app/assets/stylesheets/walls.css.scss */
.bottom-space {
  margin-bottom: 5px;
}

.btn-group {
  input {
    width: auto !important;
  }
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#mini_feed {
  a {
    font-size: 10px;
  }
  b {
    font-size: 10px;
  }
  hr {
    margin: 3px;
  }
  img {
    height: 15px;
  }
}

.accordion_2 {
  .accordion-group {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    #news_accordion_head {
      background-color: #EEE;
    }
  }
  .accordion_header_img {
    padding-right: 10px;
  }
}
#collapse {
  padding-bottom: 100px;

  .accordion {
    padding-bottom: 100px;
    #about_accordion_head {
      background-color: #D9EDF7;
    }
    #getting_started_accordion_head {
      background-color: #dff0d8;
    }
    #technical_accordion_head {
      background-color: #fcf8e3;
    }
    #author_accordion_head {
      background-color: #f2dede;
    }

  }
}


/* NAVBAR */
.navbar .nav > li > a {
  padding-top: 13px !important;
}
.navbar-inner {
  a {
    font-weight: 400;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif !important;
  }
  #profile_tab {
    a {
      color: white !important;
    }
  }
  #about_tab {
    a {
      color: #129900 !important;
    }
  }
  #contact_tab {
    a {
      color: #007899 !important;
    }
  }
  #statistics_tab {
    a {
      color: #990B00 !important;
    }
  }
}


body {
  background: white repeat;
  padding-bottom: 0px;
}

footer {
/*  margin-top: 30px;*/
  padding: 10px 0 10px 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  background: url("low_contrast_linen_@2X.png");
  border-top: 1px solid #111836;
  p {
    text-align: center; /* center align it with the container */
    margin: auto;
    vertical-align: center;
      line-height: 100px;
  }
}

.full_background {
  z-index: -1;
  background: url("low_contrast_linen_@2X.png");
	position:fixed;
	top:0;
	left:0;

	/* Preserve aspet ratio */
	min-width:100%;
	min-height:100%;
}
.partial_background {
  background: url("low_contrast_linen_@2X.png");
  height: 65px;
  line-height: 65px;
}
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  border: none;
  #title_header {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  #header_punchline{
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

}
#user_headline {
  text-align: center;
}

#splash_page, #home_page, #contact_page {
  h3, p {
    color: #2b3884;
  }
}

.display_images {
  width: 100%;
}
#news_feed {
  background-color: white;
}
.list_pad {
  margin: 10px 0 0 40px;
  padding-top: 10px;
}
.extra {
  margin: 10px 0 0 62px;
}

#privacy_hero_unit {
  padding: 10px 10px 0px 10px;
  background-color: white;
}
.no_dec {
  text-decoration: none !important;
}
.grey {
  color: #5A5A5A !important;
}
.purple {
  color: #2b3884 !important;
}