body.users {
  #privacy_lock {
    height: 45px;
    width: 45px;
  }
  #profile_layout {
    p, h2 {
      display: inline;
    }
  }
  #privacy_description_block {
    p {
      font-size: 10px;
    }
  }
  form.edit_user {
    margin-bottom: 10px;
    #user_privacy {
      padding-bottom: 10px;
    }
  }
}