<div class="tabbable tabs-left">
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#t_0" data-toggle="tab"><i class="icon-fire"></i> Top 10 Yolospots</a></li>
		<li><a href="#t_1" data-toggle="tab"><i class="icon-calendar"></i> Events of the Week</a></li>
		<li><a href="#t_2" data-toggle="tab"><i class="icon-thumbs-up"></i> Restaurants</a></li>
		<li><a href="#t_3" data-toggle="tab"><i class="icon-glass"></i> Nightlife</a></li>
		<li><a href="#t_4" data-toggle="tab"><i class="icon-gift"></i> Shopping</a></li>
		<li><a href="#t_5" data-toggle="tab"><i class="icon-music"></i> Entertainment</a></li>
		<li><a href="#t_6" data-toggle="tab"><i class="icon-headphones"></i> Activities</a></li>
		<li><a href="#t_7" data-toggle="tab"><i class="icon-camera"></i> Attractions</a></li>
		<li><a href="#t_8" data-toggle="tab"><i class="icon-eye-open"></i> Beauty and Spas</a></li>
		<li><a href="#t_9" data-toggle="tab"><i class="icon-plane"></i> Hotels & Travel</a></li>
	</ul>
	
	<div class="tab-content" id="categories_placeListings">
		
		<div class="tab-pane active" id="t_0">
			<p>Top 10 Yolospots</p>
		</div>
		
		<div class="tab-pane" id="t_1">
			<p>Events of the Week</p>
		</div>
		
		<div class="tab-pane" id="t_2">
			<p>Restaurants</p>
		</div>
		
		<div class="tab-pane" id="t_3">
			<p>Nightlife</p>
		</div>
		
		<div class="tab-pane" id="t_4">
			<p>Shopping</p>
		</div>
		
		<div class="tab-pane" id="t_5">
			<p>Entertainment</p>
		</div>
		
		<div class="tab-pane" id="t_6">
			<p>Active Life</p>
		</div>
		
		<div class="tab-pane" id="t_7">
			<p>Attractions</p>
		</div>
		
		<div class="tab-pane" id="t_8">
			<p>Beauty and Spas</p>
		</div>
		
		<div class="tab-pane" id="t_9">
			<p>Hotels & Travel</p>
		</div>
		
	</div>
</div>