<% if @place.errors.any? %>
  $('#flash').html('<%= strip_new_line(render("shared/flash.html.erb", :flash => {:error => @place.errors.full_messages.join(', ')})).html_safe %>');
  return false;
<% end %>
/* Insert a place on the map */
var latlng = new google.maps.LatLng(<%= @place.lat %>,<%= @place.long%>);
// Initializes the marker (new) when address and city is entered
marker = new google.maps.Marker({
  position: latlng,
  map: map,
  animation: google.maps.Animation.DROP,
  draggable:false
});

map.setCenter(latlng);
map.setZoom(12);

infowindow = new google.maps.InfoWindow({
  content: "holding..."
});

google.maps.event.addListener(marker, 'click', function (a,b) {
  stop_bounce();
  toggle_bounce(marker);
  infowindow.setContent("<h3><%= (@place.try(:name) || @place.address) %></h3>");
  infowindow.open(map, this);
});