<%= render partial: 'shared/profile_layout', :locals => {:span_class => 'span6 offset3'} %>
<div class="clearfix"></div>
<hr/>
<div id="profile_maps" class="profile_contents">
  <div id="current_user_profile" style="display:none;"><%=@user.id%></div>
  <%= render :partial => "google_map"%>
</div>
